label, input {
  color: white;
}

.input-grp {
  display: grid;
  grid-template-columns: auto auto;
}

.input-grp input {
  width: 80%;
  padding: 5px 10px;
  background-color: rgba(0,0,0,0);
  border: solid 1px white;
  outline: none;
  border-radius: 5px;

  margin: 10px 5px;
}

.input-with-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.submit-button {
  padding: 5px 20px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  float: left;
  color: white;
  background-color: #F07939;
  cursor: pointer;
  transition: 250ms background, color;
}

.submit-button:hover {
  background-color: white;
  color: #F07939;
}
